.vscode/settings.json
controller/__pycache__/accounting_head.cpython-38.pyc
controller/__pycache__/slot_filling.cpython-38.pyc
controller/__pycache__/date.cpython-38.pyc
controller/__pycache__/amount.cpython-38.pyc